<section id="single-movie-view">

    <h1 id="view-lead">Movie Information Page</h1>

    <div class="container">
        <div class="wrapper">
            <div class="card-img">
                <img src="{{ img_url }}" class="img-card">
            </div> 
            <div class="card-info">
                <div class="container">
                    <h1>Title</h1><p>{{ title }}</p>
                    <h2>Genre</h2><p>{{ genre }}</p>
                    <h2>Description</h2><p>{{ description }}</p>
                    <h2>Director</h2><p>{{ director }}</p>
                    <h2>Starring</h2><p>{{ starring }}</p>
                    <br>
                <div class="card-button-group">
                    <form id="delete-form" action="/api/movies/{{ id }}?_method=DELETE" method="post">
                    <button type="button" class="update">Update Movie Form</button>
                    <button type="submit" class="delete">Delete</button>
                    </form>
                </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-wrapper is-closed">
        <div class="update-movie-container">
            <h1 id="section center-text">Update Movie</h1>

        <form action="/api/movies/{{ id }}?_method=PUT" method="post" class="form">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" value="{{ title }}" name="title">
            </div>
            <div class="form-group">
                <label for="genre">Genre</label>
                <select id="genre" value="{{ genre }}" name="genre">
                    <option value="action">Action</option>
                    <option value="suspense">Suspense</option>
                    <option value="romance">Romance</option>
                    <option value="horror">Horror</option>
                    <option value="drama">Drama</option>
                </select>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea name="description" class="form-control description" placeholder="{{ description }}" id="description" cols="30" rows="10"></textarea>
            </div>
            <div class="form-group">
                <label for="director">Director</label>
                <input type="text" class="form-control" id="director" value="{{ director }}" name="director">
            </div>
            <div class="form-group">
                <label for="starring">Starring</label>
                <input type="text" class="form-control" id="starring" value="{{ starring }}" name="starring">
            </div>
            <div class="form-group">
                <label for="img_url">Movie Image URL</label>
                <input type="text" class="form-control" id="img_url" value="{{ img_url }}" name="img_url">
            </div>
            <div class="button-wrap">
                <button type="submit" id="update-movie">Update Movie</button>
                <button type="button" class="update" id="delete">Cancel</button>
            </div>
        </form>
      </div>
    </div>

</section>
